#nav-divider {
    margin-top: 8rem;
    margin-bottom: 2rem;
}

#nav-contents {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr;
    text-align: center;

    & > * {
        grid-row: 1;
    }
}

#previousLink {
    grid-column: 1;
    text-align: left;
}

#homeLink {
    grid-column: 2;
}

#nextLink {
    grid-column: 3;
    text-align: right;
}

#seriesLinkStandalone {
    grid-column: 1;
    text-align: left;
}